# directories
.settings/
.target/
.idea/
.worksheet/
bin/
build/
dist/
node_modules/
out/
target/
tmp/
logfile/

# files
*.iml
*/.DS_Store
\#*
.cache
.classpath
.DS_Store
.history
.idea
.idea_modules
.project
RUNNING_PID
log.txt